.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* align-items: center;
  width: 100%;
  height: 100%; */
}

.container-box {
  width: 200px;
  height: 200px;
}

.game-box-container {
  border: 10px solid black; 
  border-radius: 5%;
  border-image: repeating-linear-gradient(
    45deg, 
    black,
    black 10px,
    #fff 10px,
    #fff 20px
  );
  
  border-image-slice: 4;
}

.box {
  width: 200px;
  height: 200px;
  border: 10px solid black; 
  border-radius: 5%;
  border-image: repeating-linear-gradient(
    45deg, 
    black,
    black 10px,
    #fff 10px,
    #fff 20px
  );
  
  border-image-slice: 4;
}

.list-container {
  overflow: hidden;
  z-index: 1;

  position: absolute;
  /* left: 50%; */
  transform: translateX(20%);
}

.list {
  overflow: auto;
  display: flex;

  flex-wrap: nowrap;
  width: 600px;
}

.list-item {
  /* Take full width */
  z-index: 1;
  width: 300px;
}

/* .box:last-child {
  margin-right: 0;
} */

.right{
  width: 50%;
}

.left{
  width: 50%;
}

.keep-right {
  margin-left: auto;
}

.divider {
  /* height: 1px; */
  background-color: #ccc;
  flex-grow: 1;
  margin: 0 10px;
}
/* f0f0f0 */

.main-game-box {
  width: 37%;
  height: 62%;
  background-color: #41b571;
  position: fixed;
  top: 5%;
  margin: 0 auto;
  margin-bottom: "40px";
  display: flex;
  justify-content: center;
  align-items: flex-end;
  }
  
  .shape {
    cursor: move;
  }

  .pieceShape {
            /* Add margin to separate shapes horizontally */
            margin: 0 10px;

            /* Set fixed width and height for all shapes */
            width: 50px;
            height: 50px;
  }

  .shape {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #ccc; */
    /* position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    /* left: 50%; */
    /* transform: translateX(20%); */ 

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    box-sizing: border-box;
  }
  
  .triangle:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100%;
  }

  .shape-text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .bottomContainer {
    width: 80vw; /* 100% of viewport width */
    height: 20vh; /* 100% of viewport height */
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }

  .bottomSelectContainer {
    flex: 0 0 calc(50% - 20px); /* Adjust the width as needed to leave space between the boxes */
    max-width: calc(50% - 20px); /* Maximum width of each box (half of container width minus padding) */
    background-color: #f0f0f0; /* Background color for the boxes */
    border: 2px solid #ccc; /* Border for the boxes */
    height: 100%;
    box-sizing: border-box;
  }

  .bottomThumbnailContainer {
    flex: 0 0 calc(50% - 20px); 
    max-width: calc(50% - 20px);
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .onBoardShape {
    width: 100px; /* Adjust the width as needed for each shape */
    height: 100px; /* Adjust the height as needed for each shape */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  