.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tab {
    padding: 10px;
    background-color: lightgray;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: gray;
    color: white;
  }
  
  .content {
    display: flex;
    /* border: 1px solid black;
    padding: 10px;
    margin-left: 20px; */
    justify-content: center;
    align-items: center;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  